<?xml version="1.0"?>
<launch>
	<arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
	<arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

	<param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find dual_ur_description)/urdf/dual_ur10_robot.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface)" />
	<param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find dual_ur_description)/urdf/dual_ur10_joint_limited_robot.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface)" />
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<param name="use_gui" value="true"/>
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find dual_ur_description)/launch/urdf.rviz" />
</launch>